* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}
.headerbar {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.leftbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerbar__logo img{
    height: 50px;
    padding: 10px;
}
.headerbar__title{
    font-size: 24px;
    padding: 10px;
}
.rightbar_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerbar__menu__item{
    text-decoration: none;
    color: white;
    padding-right: 20px;
    font-size: 15px;
}
.headerbar__menu__item:hover{
    color: #f1f1f1;
    text-decoration: underline;
}
.main_container{
    background-image: url(./pictures/bground.jpg);
    background-repeat: no-repeat;
    background-position: fixed;
}
.layer1{
    
    /* background-image: url("");
    background-size: cover;
    background-position: center; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.layer1 button{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.leftside h1{
   font-size: 48px;
   font-weight: extra-bold;
   color: #aab5a0;
}
.leftside p{
    font-size: 18px;
    color: #000000;
}

.layer2 {
    padding-top: 10px ;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.8);
}
.layer2__header{
    color: #aab5a0;
    text-align: center;
    margin: 0.5em 1em 1,5em 1em;
}

.layer2__container{
    margin: 1em 1em 1em 1em;
    padding: 1em 1em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.layer2__container p{
    font-size: 14px;
    color: #aab5a0;
}
.layer2__container .first , .second , .third , .fourth{ 
    width: 12em;
    height: 14em;
    border-radius: 10px;
    margin: 0em 2.5em;
    padding: 1em 1em;
    
    
}
.layer3__container{
    margin: 5em 10em;
    padding: 10em 5em;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.layer3__container blockquote{
    font-size: 14px;
    color: #aab5a0;
}
.layer4__container{
    padding: 10em 5em;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: space-around;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.layer4__container p{
    font-size: 24px;
    font-weight: extra-bold;
    color: #aab5a0;
}
.layer4__container button{
    padding: 10px 20px;
    margin : 0 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 9px;
    font-weight: bold;
    cursor: pointer;
}
.footer{
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em ;
    color: aliceblue;
    font: 12px sans-serif;
}

